<%- include ('partials/header.ejs')%> 
<body>
    <%- include ('partials/navbar.ejs')%> 
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h1>Lista de Perguntas</h1>
            </div>
            <div class="card-body">  
                <%perguntas.forEach(p => {%> 
                        <div class="card-header">
                            <%=p.titulo%>
                        </div>
                        <div class="card-body">
                            <a href="resposta/<%= p.id %>" class="btn btn-success">Responder</a>
                        </div>
                        <hr>
                <%})%>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs')%> 